* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.body{
    background-color: #EAEAEA;
}

.bodymaintext{
    font-size: 50px;
    text-align: center;
    padding: 25px;
}

.bodytext{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

button{
    background-color: #EAEAEA;
    border: none;
    border-radius: 8px;
    color: black;
    float: right;
    font-size: 16px;
    margin: 20px 50px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: solid;
}

.imgmid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
  }

.homebar{
    background: rgb(101,106,119);
    background: linear-gradient(90deg, rgba(101,106,119,1) 0%, rgba(121,128,144,1) 31%, rgba(163,170,184,1) 59%);
    display: flex;
    margin:0;
    padding:0;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.homebartext{
    margin: 20px 40px;
    padding: 0px 0px;
    display: inline-block;
    font-size: 50px;
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
