html,
body {
  height: 100%;
}

.btn {
  width: 300px !important;
}

.input {
  width: 500px;
}

.right-col {
  background-image: url("../../src/assets/home-bg3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

a:link {
  text-decoration: none;
}
